{% extends 'full_base.html.twig' %}

{% block body %}
	<div class="content-map">
        <div class="map-search-bar">
          <img class="search-ico" src="search-ico.svg">
          <input type=search placeholder="Buscar transformador por dirección cercana ..." onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Buscar transformador por dirección cercana ...'">
        </div>
        <div class="map-search-located-menu">
            <button role="button" class=" btn btn-transformer" data-toggle="collapse" data-target="#tc">
                <i class="fas fa-solar-panel"></i>
            </button>
            <div id="tc" class="collapse transformer-menu">
              
            </div>
        </div>
        <div class="map-box" id="mapa">
        </div>
        
    </div>
    <script type="text/javascript">    
    	function displayTransformer(){
        	if(!$(".transformer-menu").hasClass("show")) {
        		$('.transformer-menu').collapse("toggle");
			}    		
    		$.ajax({
			  type: "POST",
			  url: "/ajax_utils/",
			  data: {
                    ajax_utility : "load_transformer_data",
                    tid : tid
				  },
			  success: function(data) { $("#tc").html(data); }
			});
    	}
    
    	function addArea(mapa, x, y, radiusp, name) {
    		//L.marker([x, y]).addTo(mapa).on('click', onClick);
    		L.circle([x, y],
    			{
                    color: 'red',
                    fillColor: 'red',
                    fillOpacity: 0.2,
                    radius: radiusp * 1000000
    			}).addTo(mapa);
        }
    	function addTransformer(id, mapa, x, y) {
    		L.marker([x, y]).addTo(mapa).on('click', function() {
        		tid = id;
        		displayTransformer();
        		});
        }
    
		$( document ).ready(function() {
    		mapa = L.map('mapa', {
        	    center: [-34.598313, -58.463745],
        	    zoom: 10,  
        	    minZoom: 4,
        	    maxZoom:17,
        	    zoomControl:true 
    		});
    		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: ''}).addTo(mapa);

    		{% for area in areas %}
    			addArea(mapa, {{area.coordX}}, {{area.coordY}}, {{area.radius}}, "Marker");
    		{% endfor %}
    		{% for transformer in transformers %}
    			addTransformer({{transformer.id}}, mapa, {{transformer.coordX}}, {{transformer.coordY}});
    		{% endfor %}
		});
	</script>
			 		
{% endblock %}	
{% block footer %}
{% endblock %}